@import './_imported.css';

.basic {
  content: "basic";
}

.cascading {
  content: "cascading_1";
}

.cascading {
  content: "cascading_2";
}

.pseudo_class {
  content: "pseudo_class";
}

.pseudo_class:hover {
  content: "pseudo_class:hover";
}

.pseudo_class:before {
  content: "pseudo_class:before";
}

@supports (display: flex) {
  @media screen and (min-width: 900px) {
    .at_rule {
      content: "at_rule";
    }
  }
}

.selector_list_1, .selector_list_2 {
  content: "selector_list";
}

:global .global_class_name_1 {
  content: "global_class_name_1";
}

:global {
  .global_class_name_2 {
    content: "global_class_name_2";
  }
  .global_class_name_3 {
    content: "global_class_name_3";
  }
}
